/*reset css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  color: #545454;

  font-family: "Poppins", sans-serif;
}

#background {
  position: fixed;
  width: 100%;
  height: auto;
  
  z-index: 0;
}

input{
  width: 62px;
  height: 38px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  outline: none;
  border: none;

  cursor: pointer;

  padding: 6px;
  padding-left: 14px;
}

h1{
  font-size: 64px;
}

h2{
  font-size: 60px;
}

p, input{
  font-size: 24px;
}

/*pré-definições para mobile first*/

header,
main,
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
	
  overflow: hidden;

  z-index: 1;
}

h1, h2, p, input, a, div {
  z-index: 1;
}

#dataHr, #numMinMax {
  display: flex;
}

/*estilização da seleção de caracteres*/

::selection {
  background-color: #fdf6e2;
}

/*impede selecionar img*/

img {
  user-select: none;
}

/*reset button*/

a {
  outline: none;
  border: none;

  cursor: pointer;

  transition: 200ms ease-in-out;

  width: 348px;
  height: 54px;
  
  font-size: 21px;
  font-weight: bold;

  background: #B25D3E ;
  border-radius: 80px;
  margin-top: 16px;
  margin-bottom: 48px;

  color: #fff;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sorteio{
  margin-top: 62px;
}

/*animação button*/

button:hover {
  transform: scale(1.05);
}

/*breakpoints media query*/

@media (min-width: 480px) { } /*esse é o padrão, o projeto será programado com essa resolução inicial*/
@media (min-width: 481px) and (max-width: 768px) { }
@media (min-width: 769px) and (max-width: 992px) { }
@media (min-width: 993px) and (max-width: 1200px) { }
@media (min-width: 1201px) and (max-width: 1600px) { }
@media (max-width: 1900px) { }

/*estilização barra de rolagem*/

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #fdf6e2;
}

body::-webkit-scrollbar-thumb {
  background-color: #f096b1;
  border-radius: 20px;
  border: 0px solid #fdf6e2;
}
